# Allow specific vscode settings for find-optimal
!.vscode/
!.vscode/settings.json
!.vscode/launch.json.template

# Don't allow commiting launch.json because it probably has secrets in it.
.vscode/launch.json

# Temp directory for a disk-based request queue (for persistent retry)
request-queue/

# Don't allow pushing the uncompressed data
data/7x7subgrid-cache.json
